body {
    text-align: center;
    margin-top: 50px;
}


input, button {
    width: 70px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

#message {
    font-size: 20px;
    margin: 20px;
}

button {
    color: white;
    background-color: #4A99F8;
    border: none;
}